body{margin:0;padding:0;font-family:sans-serif}.App{padding:25px;margin:25px;border:2px solid #fe0072}.LogoImg{width:200px;height:200px;margin-bottom:25px}.App{text-align:center}.App *{font-family:Roboto,sans-serif}
/*# sourceMappingURL=main.0188615d.css.map*/